{% extends 'masterpage.html' %}
{% block head %}

<style> 
	body{
		background-image: url("static/bg3.jpg");
		background-position: center;
		background-size: cover;
	
	}

	h2{
		text-align: center;
		text-align-last: center;
		color: #ffffff;
		text-shadow: 1px 1px 3px #ababab;
		font-family: "Verdana, sans-serif";
  		font-size: 55px;
  		letter-spacing: 2px;
  		word-spacing: 1px; 
	}
	
	h4{
		text-align: center;
		text-align-last: center;
		color: #ffffff;
    	font-size: 30px;
	}

</style> 
 {% endblock head%}

{% block title %}Login {% endblock title%}

{% block body %} 


</br><h2><b>Login Page</b></h2></br>

<h4>Enter your details to login to your account. </h4> </br>

<div >
	<form method="post" action="/login" autocomplete="on">
		{% csrf_token %}

		<div>
		{% if messages %}	

			{% for message in messages %} 
      			{%if "error" in message.tags %}
        			<div class="col-lg-5 mb-2 mx-auto">
        				<div class="alert alert-warning alert-dismissible fade show" role="alert">
    						<b>{{ message }}</b> 
        					<button type="button" class="btn-close btn-lg p-1 m-3 " data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					</div> 
      			{%endif%}
			{% endfor %}

			{% for message in messages %} 
      			{%if "success" in message.tags %}
          			<div class="col-lg-5 mb-2 mx-auto">
           				<div class="alert alert-success alert-dismissible fade show" role="alert">
			        		<b>{{ message }}</b> 
              				<button type="button" class="btn-close btn-lg p-1 m-3 " data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					</div>
      {%endif%}
			{% endfor %}
		{% endif %}		
		</div>
		
		
			<div class="col-sm-6 col-lg-6 mx-auto">  
  				<div class="form-floating mb-4 ">          <!--special case for username -->
    				<input  class="form-control" id="login_phone" maxlength="10" name="login_phone" pattern="\d*" pattern="[0-9]{10}" type="number"  placeholder="9876543210">
   					<label for="login_phone">Phone Number</label> 
  				</div>

				<div class="form-floating mb-4 ">
    				<input type="password" class="form-control" id="login_password" placeholder="Password" required="" name="login_password">
    				<label for="login_password">Password</label>
  				</div> 

			</div>

	<div class="text-center d-grid gap-3 col-4 mx-auto">
		<button class="btn btn-primary btn-lg p-3 m-3 border-2" type="submit" value="Submit">Submit</button> 
	  </div>

	  <div class="text-center d-grid gap-2 col-3 mx-auto mb-3">
		<button class="btn btn-outline-light btn-lg p-2 m-2 border-2" type="button" onclick="window.location.href ='/forgetpassword';">
			Forget Password</button>
		  </div>

  </form>
</div>



{% endblock body %}
