{% extends 'masterpage.html' %}


{% block title %}
    {% for i in disptest %}
        {{i.t_name}}
    {% endfor %}
{% endblock title %} 


{% block head %}


<style> 
   

    .product {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
    }

    .product-details .amt{
        font-size: 94px;
        color: #437293;
        margin: 30px 0 30px 10px;
    }

    .product-details {
        flex: 2;
        margin-right: 50px;
    }

    .product-details h1 {
        font-size: 70px;
        margin: 10px 0 40px 0;
    }

    .product-details h2 {
        font-size: 37px;
        color: #6a757c;
        margin: 40px 0 20px 20px;
    }

    .product-details p {
        font-size: 24px;
        margin: 0 0 10px 20px;
    }

    .product-buttons {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: right;
        justify-content: center;
    }

    .product-buttons button {
        font-size: 20px;
        padding: 10px 20px;
        background-color: #38946c;
        color: #fff;
        border: none;
        border-radius: 25px;
        margin-bottom: 40px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    .product-buttons button:hover {
        background-color: #1f4d39;
    }
</style>


<script>
   
  if(localStorage.getItem('cart') == null){                /*code for add to cart button only*/
    var cart = {};

  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'));
    window.onload = function() {
      updatecart(cart);
    };
  }

  $(document).ready(function(){
    $('.addtocart').click(function(){
      var itemId = $(this).attr('id').toString();
      console.log(itemId);

      if(cart[itemId] != undefined){
        qty=cart[itemId][0]+1;
      }
      else{
        qty=1;
        name = document.getElementById('name' +itemId).innerHTML;
        cart[itemId]=[qty,name];
      }
      updatecart(cart);
      console.log(cart);
    });

  });

  function updatecart(cart){
    for (var item in cart) {
      document.getElementById('div' + item).innerHTML = "<button id='minus" + item + 
      "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''><b>" + 
        cart[item][0] + "</b></span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart',JSON.stringify(cart));
  }


  
  $(document).ready(function() {
    $(".divtest").on("click", ".minus", function() {
      console.log("Button clicked minus wala");
      a=this.id.slice(9, );
      cart['test' + a][0] = cart['test' + a][0] - 1;
      cart['test' + a][0] = Math.max(0, cart['test' + a][0]);
      document.getElementById('valtest' + a).innerHTML = cart['test' + a][0];
      updatecart(cart);  
      console.log(cart);    
    });
  });

  $(document).ready(function() {
    $(".divtest").on("click", ".plus", function() {
      console.log("Button clicked plus wala");
      a = this.id.slice(8, );
      cart['test' + a][0] = cart['test' + a][0] + 1;
      document.getElementById('valtest' + a).innerHTML = cart['test' + a][0];
      updatecart(cart);
      console.log(cart);

    });
  });


</script> 


{% endblock head%}


{% block body %}
{% load static %}


<div style="font-family: Arial, sans-serif; background-color: #f5f5f5;margin: 0;padding: 0;">
  <div class="container " style="max-width: 1200px; margin: 0 auto; padding: 20px; ">
    {% for i in disptest %}
      <div class="product">
          
          <div class="product-details mx-5 my-5">
              <h1 id="nametest{{i.test_id}}">{{i.t_name}}</h1>
              <h2 class="amt">₹{{i.t_amt}}</h2>

              <h2>Gender :</h2>
              <p>{{i.gender}}</p>
              <h2>Preparation for test :</h2>
              <p>{{i.preparation}}</p>
              <h2>Sample collected :</h2>
              <p>{{i.sample}}</p>
              
              
          </div>
          <div class="product-buttons">
            
                    <span id="divtest{{i.test_id}}" class="divtest">
                      <button id="test{{i.test_id}}" class="btn btn-primary addtocart" aria-label="okay" role="presentation">Add To Cart</button>
                    </span>
                    <button onclick="location.href='/cart'">View Cart</button>
          </div>
{% endfor %}

      </div>
</div>




{% endblock body %}

